.footer {
    width: 100%;
    background: #ffffff;
    position : fixed;
    height : 78px;
    border-top: 1px solid #e9e9e9;
    bottom : 0;
}

.footer-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 65px 0;
}

.active-icon {
    position: relative;
}

.active-icon:after {
    content: '';
    display: block;
    width: 21px;
    height: 3px;
    background: #54B2CF;
    position: absolute;
    top: -21px;
    left: 0;
}